*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
}

/* HEADER */

.header{
    width: 100%;
    display: flex;
    background-color: #444444;
}
.grid-title-cols{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: flex-end;
}
.logo img{
    height: 10vh;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation a{
    text-decoration: none;
    font-size: 24px;
    color: white;
}

/* FOOTER */
.footer{
    padding: 20px 50px;
    width: 100%;
    height: 10vh;
    background-color: #444444;
    display: flex;
    margin-top: 40px;
}
.text_footer{
    padding: 20px 0;
    color: white;
    align-self: center;
    margin: 0 auto;
}

/* ОСНОВА */

.politiks{
    display: flex;
    width: 100%;
}
.politiks h3{
    font-size: 64px;
    margin: 0 auto;
    padding: 1em;
}

.politik_one{
    width: 30%;
    margin: 0 auto;
}
.politik_one img{
    width: 100%;
    border-radius: 35px;
    border: 2px solid gray;
}
.politik_one h3{
    text-align: center;
    font-size: 24px;
    padding: 10px;
}
.politik_text{
    border: 1px solid black;
    border-radius: 35px;
    margin-top: 30px;
}




.politik_two{
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.two{
    gap: 100px;
}
.grid-politik-two{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
}
.img_politik{
    display: flex;
    justify-content: center;
}
.img_politik img{
    width: 50%;
    height: 100%;
    border-radius: 35px;
    border: 2px solid gray;
}
.start{
    justify-content: start;
}
.text_politik{
    display: flex;
}
.border_text_politik{
    border: 1px solid black;
    border-radius: 35px;
    align-self: center;
    padding: 20px;
    width: 75%;
}

/* MEDIA */

@media screen and (width < 1366px) {
    .grid-politik-two{
        grid-template-columns: 100%;
    }
    .politiks h3{
        font-size: 40px;
    }
    .politik_one{
        width: 40%;
    }
    .politik_two{
        width: 50%;
    }
    .img_politik{
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .text_politik{
        justify-content: center;
    }
    .politik_text h3{
        font-size: 20px;
    }
}

@media screen and (width < 1024px) {
    .politik_one{
        width: 60%;
    }
    .politik_two{
        width: 70%;
    }
    .politik_text h3{
        font-size: 18px;
    }
}

@media screen and (width < 768px) {
    .header{
        width: 100%;
    }
    .grid-title-cols{
        grid-template-columns: 100%;
        width: 70%;
        margin: 0 auto;
    }
    .navigation{
        flex-direction: column;
        align-items: start;
        line-height: 40px;
    }
    .logo{
        justify-content: flex-start;
    }
    .text_footer{
        font-size: 15px;
    }
    .politik_one{
        width: 80%;
    }
    .politik_two{
        width: 90%;
    }
}